@{
    ViewData["Title"] = "Index";
}

<h1>Calendar View</h1>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js'></script>

<hr/>
<div id='calendar'></div>

<!-- create a modal that opens when a date is selected on calender -->
<div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="addEventModalForm" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Change Day Type</h5>
            </div>
            <form>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label for="day-type-id" class="control-label">Day Type</label>
                        <select id="day-type-id" name="day-type" class="form-control">
                            <option value="workday">Work Day</option>
                            <option value="weekend">Weekend</option>
                            <option value="government_holiday">Government Holiday</option>
                            <option value="company_holiday">Company Holiday</option>
                            <option value="other_holiday">Other Holiday</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input id="date-id" hidden="hidden" name="date" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="change-day-type-button" type="button" class="btn btn-primary">Change</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const DateTime = luxon.DateTime;
    var calendar;
    var calendarEvents;
    $(document).ready(function () {
        showCalendar();
        // on click of the change day type button, send a post request to the server
        $('#change-day-type-button').click(function () {
            $('#addEventModal').modal('hide');
            $.ajax(
                {
                    url: '@Url.Action("ChangeDayType", "Home")',
                    type: 'POST',
                    data: {
                        date: $('#date-id').val(),
                        type: $('#day-type-id').val()
                    },
                    encode: true,
                    success: function () {
                        // change the day color on the calendar
                        calendar.getEvents().forEach((event) => {
                            if (event.startStr.startsWith($('#date-id').val())) {
                                var $day = $('#day-type-id');
                                event.setProp('backgroundColor', getDayColor($day.val()));
                                event.type = $day.val();
                            }
                        });
                        calendarEvents.find((day) => day.day.startsWith($('#date-id').val())).backgroundColor = getDayColor($('#day-type-id').val());
                        calendar.refetchEvents();
                    },
                }
            );
        });
    });

    function getDayColor(dayType) {
        switch (dayType) {
            case 'workday':
                return '#c7f9cc';
            case 'weekend':
                return '#22577a';
            case 'government_holiday':
                return '#f4a261';
            case 'company_holiday':
                return '#e9c46a';
            case 'other_holiday':
                return '#e76f51';
        }
    }

    async function loadCalendar(month, year) {
        let calendarDays;
        await (new Promise((resolve, reject) => {
            $.ajax(
                {
                    url: '@Url.Action("GetDayTypeRange", "Home")',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        // minus 7 days from the start date and plus 7 days from the end date with luxon
                        start: DateTime.fromObject({ year: year, month: month + 1, day: 1 }).minus({ days: 7 }).toISODate(),
                        end: DateTime.fromObject({ year: year, month: month + 1, day: 1 }).plus({ months: 1, days: 7 }).toISODate()
                        // start: year + '-' + (month) + '-' + 23,
                        // end: year + '-' + (month + 2) + '-' + 7
                    },
                    success: function (response) {
                        calendarDays = response.data;
                        calendarDays.forEach((day) => {
                            day.start = day.day;
                            day.allDay = true;
                            day.backgroundColor = getDayColor(day.type)
                            day.display = 'background'
                        });
                        resolve();
                    },
                    error: function () {
                        reject();
                    }
                }
            );
        }));

        return calendarDays;
    }

    async function decorateCalenderMonths(date) {
        calendar.gotoDate(date);
        calendar.removeAllEvents();
        calendarEvents = await loadCalendar(date.getMonth(), date.getFullYear());
        calendar.addEventSource(calendarEvents);
    }

    async function showCalendar() {
        var calendarEl = document.getElementById('calendar');
        calendar = new FullCalendar.Calendar(calendarEl, {
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'prevYear,nextYear'
          },
          selectable: true,
          initialView: 'dayGridMonth',
          select(e) {
            $('#date-id').val(e.startStr);
            // change the day type of the selected date
            $('#addEventModal').modal('show');
            $('#day-type-id').val(calendarEvents.find((day) => day.day.startsWith(e.startStr)).type);
          },
          customButtons: {
            today: {
              text: 'Today',
              click: async function() {
                await decorateCalenderMonths(new Date());
              }
            },
            prev: {
              text: '<',
              click: async function() {
                const date = DateTime.fromISO(calendar.getDate().toISOString()).minus({months: 1}).toJSDate();
                await decorateCalenderMonths(date);
              }
            },
            next: {
              text: '>',
              click: async function() {
                const date = DateTime.fromISO(calendar.getDate().toISOString()).plus({months: 1}).toJSDate();
                await decorateCalenderMonths(date);
              }
            },
            prevYear: {
              text: '<<',
              click: async function() {
                const date = DateTime.fromISO(calendar.getDate().toISOString()).minus({years: 1}).toJSDate();
                await decorateCalenderMonths(date);
              }
            },
            nextYear: {
              text: '>>',
              click: async function() {
                const date = DateTime.fromISO(calendar.getDate().toISOString()).plus({years: 1}).toJSDate();
                await decorateCalenderMonths(date);
              }
            }
          },
        });
        calendar.render();
        await decorateCalenderMonths(new Date());
    }
</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml"); }
}