@{
    System.Diagnostics.Debug.Assert(User.Identity != null, "User.Identity != null");
}
@if (User.Identity.IsAuthenticated) {
    <form method="POST" class="form-check-inline" asp-area="Auth" asp-controller="Home" asp-action="Logout">
        Welcome, @(User.Identity.Name ?? "User")
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>
}
else {
    <a class="btn btn-link" asp-area="Auth" asp-controller="Home" asp-action="Create">Login</a>
}