@model CourseManagementSystem.Areas.Budgets.Dto.BudgetUploadDto

@{
    ViewData["Title"] = "Upload";
}

<h1>Upload</h1>

<div>
    <h4>Budget</h4>
    <hr/>

    <form action="/Budgets/UploadBudgets" method="POST" enctype="multipart/form-data" class="container">
        <input type="file" asp-for="File" accept=".xlsx, .xls, .csv">
        <span asp-validation-for="File" class="text-danger"></span>
        <div class="row">
            <div class="form-check col-md-auto">
                <label asp-for="IsEditable" class="form-check-label"></label>
                <input class="form-check-input" asp-for="IsEditable" type="checkbox">
            </div>
            <div hidden="hidden" class="form-group col-md-auto" id="editDeadlineDiv">
                <label class="control-label">
                    Edit Deadline
                </label>
                <input class="form-control" type="date" name="editDeadline" id="editDeadline">
            </div>
        </div>
        <button type="submit" class="btn btn-success">Upload</button>
    </form>
    <!-- create a checkbox to mark budgets as editable -->
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    // get the checkbox
    let checkBox = document.getElementById("IsEditable");
    // if the checkbox is checked, display the input field for end date
    checkBox.addEventListener("change", function () {
        if (this.checked) {
            document.getElementById("editDeadlineDiv").hidden = false;
        } else {
            document.getElementById("editDeadlineDiv").hidden = true;
        }
    });
</script>